<div class="card">
    <div [ngStyle]="{'position': 'absolute'}">
        <img [ngStyle]="{'width':'50px','position': 'relative','top':'150px','left':'25px','border':'solid 5px #fff', 'border-radius':'5px'}"
            class="img-fluid" [src]="icon" alt="imagen de {{contenido.titulo}}">
    </div>
    <img [ngStyle]="{'object-fit':'cover','height':'170px'}" class="card-img-top" [src]="contenido.imagen"
        alt="imagen de {{contenido.titulo}}">
    <div class="card-body">
        <p class="card-title" [ngStyle]="{'color':'#0062e4'}">{{contenido.titulo}}</p>
        <p class="card-text">{{contenido.subtitulo}}</p>
        <p [ngStyle]="{'text-transform':'uppercase', 'color':'rgb(24, 89, 170)','font-weight':'bold'}"
            *ngIf="contenido.tipo=='proyecto'">Proyecto Guiado</p>
        <p [ngStyle]="{'text-transform':'uppercase','font-weight':'bold'}" *ngIf="contenido.tipo=='curso'">Curso</p>
    </div>
</div>