<a href="#">
    <div class="card shadow-sm bg-white rounded" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img [src]="categoria.imagen" class="card-img img-fluid" alt="imagen de la categoria {{categoria.nombre}}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <span>{{categoria.nombre}}</span><br>
                    <span>{{categoria.cursos}} cursos</span>
                </div>
            </div>
        </div>
    </div>
</a>
