<div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col">
                <h5>Coursera</h5>
                <ul class="lista">
                    <li><a href="">Acerca de</a></li>
                    <li><a href="">Qué ofrecemos</a></li>
                    <li><a href="">Liderazgo</a></li>
                    <li><a href="">Empleo</a></li>
                    <li><a href="">Catálogo</a></li>
                    <li><a href="">Coursera Plus</a></li>
                    <li><a href="">Certificados profesionales</a></li>
                    <li><a href="">MasterTrack® Certificates</a></li>
                    <li><a href="">Título de grados</a></li>
                    <li><a href="">Para Empresas</a></li>
                    <li><a href="">Para gobiernos</a></li>
                    <li><a href="">Para el campus</a></li>
                    <li><a href="">Conviértete en socio</a></li>
                    <li><a href="">En respuesta al Coronavirus</a></li>
                </ul>
            </div>
            <div class="col">
                <h5>Comunidad</h5>
                <ul class="lista">
                    <li><a href="">Estudiantes</a></li>
                    <li><a href="">Socios</a></li>
                    <li><a href="">Desarrolladores</a></li>
                    <li><a href="">Probador beta</a></li>
                    <li><a href="">Traductores</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Blog de Tecnología</a></li>
                    <li><a href="">Centro de enseñanza</a></li>
                </ul>
            </div>
            <div class="col">
                <h5>Más</h5>
                <ul class="lista">
                    <li><a href="">Prensa</a></li>
                    <li><a href="">Inversores</a></li>
                    <li><a href="">Términos</a></li>
                    <li><a href="">Privacidad</a></li>
                    <li><a href="">Ayuda</a></li>
                    <li><a href="">Accesibilidad</a></li>
                    <li><a href="">Contacto</a></li>
                    <li><a href="">Artículos</a></li>
                    <li><a href="">Directorio</a></li>
                    <li><a href="">Afiliados</a></li>
                </ul>
            </div>
            <div class="col">
                <h5>Aplicación móvil</h5>
                <ul class="lista">
                    <li>
                        <a href="#">
                            <img src="assets/icons/ios_button.svg" width="120" alt="Logo coursera">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="assets/icons/google-play-badge.png" width="120" alt="Logo coursera">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://d3njjcbhbojbot.cloudfront.net/web/images/icons/2018-B-Corp-Logo-Black-S.png"
                                width="120" alt="Logo coursera">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="d-flex">
            <div class="col">
                <span>© 2021 Coursera Inc. Todos los derechos reservados.</span>
            </div>
            <div class="col-3">
                <ul class="list-group list-group-horizontal" class="social_list">
                    <li class="p-1">
                        <span class="btn"
                            [ngStyle]="{'height':'35px','width':'35px','background-color':'black', 'padding':'5px 10px', 'border-radius':'50%'}">
                            <i [ngStyle]="{'color':'white'}" class="fab fa-facebook-f"></i>
                        </span>
                    </li>
                    <li class="p-1">
                        <span class="btn"
                            [ngStyle]="{'height':'35px','width':'35px','background-color':'black', 'padding':'5px 10px', 'border-radius':'50%'}">
                            <i [ngStyle]="{'color':'white'}" class="fab fa-linkedin-in"></i>
                        </span>
                    </li>
                    <li class="p-1">
                        <span class="btn"
                            [ngStyle]="{'height':'35px','width':'35px','background-color':'black', 'padding':'5px 10px', 'border-radius':'50%'}">
                            <i [ngStyle]="{'color':'white'}" class="fab fa-twitter"></i>
                        </span>
                    </li>
                    <li class="p-1">
                        <span class="btn"
                            [ngStyle]="{'height':'35px','width':'35px','background-color':'black', 'padding':'5px 10px', 'border-radius':'50%'}">
                            <i [ngStyle]="{'color':'white'}" class="fab fa-youtube"></i>
                        </span>
                    </li>
                    <li class="p-1">
                        <span class="btn"
                            [ngStyle]="{'height':'35px','width':'35px','background-color':'black', 'padding':'5px 10px', 'border-radius':'50%'}">
                            <i [ngStyle]="{'color':'white'}" class="fab fa-instagram"></i>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>