<div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col">
                <h5>Coursera</h5>
            </div>
            <div class="col">
                <h5>Comunidad</h5>
            </div>
            <div class="col">
                <h5>Más</h5>
            </div>
            <div class="col">
                <h5>Aplicación móvil</h5>
            </div>
        </div>
        <hr>
        <div class="d-flex">
            <span>© 2021 Coursera Inc. Todos los derechos reservados.</span>
            <div class="rc-GlobalFooter_social-media lohp-rebrand">
                <ul class="rc-GlobalFooter_social-media_list">
                    <li><a data-click-key="dashboard.main.click.facebook_link"
                            data-click-value="{&quot;href&quot;:&quot;https://www.facebook.com/Coursera&quot;,&quot;namespace&quot;:{&quot;action&quot;:&quot;click&quot;,&quot;app&quot;:&quot;dashboard&quot;,&quot;component&quot;:&quot;facebook_link&quot;,&quot;page&quot;:&quot;main&quot;},&quot;schema_type&quot;:&quot;FRONTEND&quot;}"
                            data-track="true" data-track-app="dashboard" data-track-page="main"
                            data-track-action="click" data-track-component="facebook_link"
                            data-track-href="https://www.facebook.com/Coursera" href="https://www.facebook.com/Coursera"
                            to="https://www.facebook.com/Coursera" class="rc-GlobalFooter_social-media_link"
                            target="_blank" rel="noopener noreferrer">
                            <div class="_liimpa"><img alt="Placeholder"
                                    src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/footer/facebook.png?auto=format%2Ccompress&amp;dpr=2&amp;blur=200&amp;px=8&amp;w=28&amp;h=28"
                                    class="_1nhfz2">
                                <div class="lazyload-wrapper">
                                    <div class="lazyload-placeholder"></div>
                                </div>
                            </div>
                        </a></li>
                    <li><a data-click-key="dashboard.main.click.linkedin_link"
                            data-click-value="{&quot;href&quot;:&quot;https://www.linkedin.com/company/coursera&quot;,&quot;namespace&quot;:{&quot;action&quot;:&quot;click&quot;,&quot;app&quot;:&quot;dashboard&quot;,&quot;component&quot;:&quot;linkedin_link&quot;,&quot;page&quot;:&quot;main&quot;},&quot;schema_type&quot;:&quot;FRONTEND&quot;}"
                            data-track="true" data-track-app="dashboard" data-track-page="main"
                            data-track-action="click" data-track-component="linkedin_link"
                            data-track-href="https://www.linkedin.com/company/coursera"
                            href="https://www.linkedin.com/company/coursera"
                            to="https://www.linkedin.com/company/coursera" class="rc-GlobalFooter_social-media_link"
                            target="_blank" rel="noopener noreferrer">
                            <div class="_liimpa"><img alt="Placeholder"
                                    src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/footer/linkedin.png?auto=format%2Ccompress&amp;dpr=2&amp;blur=200&amp;px=8&amp;w=28&amp;h=28"
                                    class="_1nhfz2">
                                <div class="lazyload-wrapper">
                                    <div class="lazyload-placeholder"></div>
                                </div>
                            </div>
                        </a></li>
                    <li><a data-click-key="dashboard.main.click.twitter_link"
                            data-click-value="{&quot;href&quot;:&quot;https://twitter.com/coursera&quot;,&quot;namespace&quot;:{&quot;action&quot;:&quot;click&quot;,&quot;app&quot;:&quot;dashboard&quot;,&quot;component&quot;:&quot;twitter_link&quot;,&quot;page&quot;:&quot;main&quot;},&quot;schema_type&quot;:&quot;FRONTEND&quot;}"
                            data-track="true" data-track-app="dashboard" data-track-page="main"
                            data-track-action="click" data-track-component="twitter_link"
                            data-track-href="https://twitter.com/coursera" href="https://twitter.com/coursera"
                            to="https://twitter.com/coursera" class="rc-GlobalFooter_social-media_link" target="_blank"
                            rel="noopener noreferrer">
                            <div class="_liimpa"><img alt="Placeholder"
                                    src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/footer/twitter.png?auto=format%2Ccompress&amp;dpr=2&amp;blur=200&amp;px=8&amp;w=28&amp;h=28"
                                    class="_1nhfz2">
                                <div class="lazyload-wrapper">
                                    <div class="lazyload-placeholder"></div>
                                </div>
                            </div>
                        </a></li>
                    <li><a data-click-key="dashboard.main.click.youtube_link"
                            data-click-value="{&quot;href&quot;:&quot;https://www.youtube.com/user/coursera&quot;,&quot;namespace&quot;:{&quot;action&quot;:&quot;click&quot;,&quot;app&quot;:&quot;dashboard&quot;,&quot;component&quot;:&quot;youtube_link&quot;,&quot;page&quot;:&quot;main&quot;},&quot;schema_type&quot;:&quot;FRONTEND&quot;}"
                            data-track="true" data-track-app="dashboard" data-track-page="main"
                            data-track-action="click" data-track-component="youtube_link"
                            data-track-href="https://www.youtube.com/user/coursera"
                            href="https://www.youtube.com/user/coursera" to="https://www.youtube.com/user/coursera"
                            class="rc-GlobalFooter_social-media_link" target="_blank" rel="noopener noreferrer">
                            <div class="_liimpa"><img alt="Placeholder"
                                    src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/footer/youtube.png?auto=format%2Ccompress&amp;dpr=2&amp;blur=200&amp;px=8&amp;w=28&amp;h=28"
                                    class="_1nhfz2">
                                <div class="lazyload-wrapper">
                                    <div class="lazyload-placeholder"></div>
                                </div>
                            </div>
                        </a></li>
                    <li><a data-click-key="dashboard.main.click.instagram_link"
                            data-click-value="{&quot;href&quot;:&quot;https://www.instagram.com/coursera/&quot;,&quot;namespace&quot;:{&quot;action&quot;:&quot;click&quot;,&quot;app&quot;:&quot;dashboard&quot;,&quot;component&quot;:&quot;instagram_link&quot;,&quot;page&quot;:&quot;main&quot;},&quot;schema_type&quot;:&quot;FRONTEND&quot;}"
                            data-track="true" data-track-app="dashboard" data-track-page="main"
                            data-track-action="click" data-track-component="instagram_link"
                            data-track-href="https://www.instagram.com/coursera/"
                            href="https://www.instagram.com/coursera/" to="https://www.instagram.com/coursera/"
                            class="rc-GlobalFooter_social-media_link" target="_blank" rel="noopener noreferrer">
                            <div class="_liimpa"><img alt="Placeholder"
                                    src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/footer/instagram.png?auto=format%2Ccompress&amp;dpr=2&amp;blur=200&amp;px=8&amp;w=28&amp;h=28"
                                    class="_1nhfz2">
                                <div class="lazyload-wrapper">
                                    <div class="lazyload-placeholder"></div>
                                </div>
                            </div>
                        </a></li>
                </ul>
            </div>
        </div>

    </div>
</div>