<div [ngStyle]="{'position': 'relative'}">
    <img [ngStyle]="{'object-fit':'cover','height':'90px'}" class="card-img-top" [src]="imagen"
        alt="imagen de {{titulo}}">
    <div class="row">
        <div [ngStyle]="{'position': 'absolute'}">
            <img [ngStyle]="{'height':'35px','position': 'relative', bottom: '0',left: '260px'}" class="img-fluid"
                [src]="icon" alt="imagen de {{titulo}}">
        </div>
        <p class="" [ngStyle]="{'color':'#0062e4'}">{{titulo}}</p>
        <p class="">{{subtitulo}}</p>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" height="50" width="100" viewBox="0 8 100 0.5">
            <polygon points="0,0 0,20 100,20 100,20" [attr.fill]="colorSecondary" />
            <polygon points="0,15 0,20 100,20 100,0" [attr.fill]="colorPrimary" />
        </svg>
    </div>
</div>