<div [ngStyle]="{'background-color':'#EBF3FF', 'padding':'20px'}">
    <div class="container">
        <div class="row">
            <div class="col-5 position-relative">
                <h1 class="position-absolute" [ngStyle]="{'bottom': 0, 'color':'#382D8B'}">Bienvenido nuevamente</h1>
            </div>
            <div class="col shadow" [ngStyle]="{'background-color':'#ffffff', 'padding':'20px','border-top':'8px solid #0056D2'}">
                <div class="row">
                    <div class="col">
                        <div>
                            <span [ngStyle]="{'font-weight':'bold'}">Cuéntanos sobre ti</span>
                        </div>
                        <div class="mb-3 col">
                            <div class="row mb-1">
                                <label for="inputPassword" class="col-sm-4 col-form-label">Actualmente soy</label>
                                <div class="col-sm-8">
                                    <input placeholder="Sofware Engineer" type="password" class="form-control" id="inputPassword">
                                </div>
                            </div>
                            <div class="row">
                                <label for="inputPassword" class="col-sm-4 col-form-label">Quiero ser...</label>
                                <div class="col-sm-8">
                                    <input placeholder="Desarrollador/ingeniero de software" type="password" class="form-control" id="inputPassword">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 vl"></div>
                    <div class="col-4">
                        <span>DEFINE TUS METAS DE APRENDIZAJE</span>
                        <div>
                            <i class="fas fa-suitcase"></i>
                            <span>Cambiar mi carrera profesional</span>
                        </div>
                        <div>
                            <i class="fas fa-chart-line"></i>
                            <span>Incrementar el nivel de mis habilidades</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>